@{
    ViewData["Title"] = "Add Todo";
}
<h2>Add Todo</h2>
<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
